#projects {
  max-width: var(--maxWidth);
  width: 100%;
  margin: 100px auto;
}

.project_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
.subtitle {
  text-align: center;
  position: relative;
  width: max-content;
  margin: 20px auto;
  font-size: 66px;
  text-transform: capitalize;
}

article {
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* margin: 0 auto; */
  padding: 1rem;
  border-radius: 1rem;
  border: 0.2px solid #58617d;
  min-height: 400px;
  position: relative;
}

figure {
  width: 60%;
}
.big-img {
  width: 100%;
  object-fit: cover;
  min-height: 350px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  display: block;
  margin-bottom: 20px;
  margin: auto;
}

.small-img {
  display: none;
}

figcaption {
  width: 35%;
}

figcaption > h4 {
  text-transform: uppercase;
  font-size: 36px;
}
figcaption > p {
  font-size: 20px;
  color: var(--white);
  margin-block: 1em;
  text-transform: capitalize;
}

.project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  gap: 2em;
  width: 90%;
}

.see_button {
  width: 15%;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .project-container {
    flex-direction: column;
    padding: 0px;
    width: 100%;
  }
  .subtitle {
    text-align: center;
    position: relative;
    width: max-content;
    margin: 40px auto;
    font-size: 32px;
    text-transform: capitalize;
  }
  article {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  figure {
    width: 100%;
  }
  figcaption {
    text-align: center;
    width: 100%;
  }

  .button-group > a {
    font-size: 18px;
  }
  .see_button {
    margin-top: 50px;
    width: 60%;
  }

  .big-img {
    display: none;
  }
  .small-img {
    display: block;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 20px;
  }

  .project_name {
    font-size: 32px;
  }
}
