nav {
	max-width: var(--maxWidth);
	width: 100%;
	margin: 0 auto;
	background: ;
	min-height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: var(--boxShadow);
	z-index: 999;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
}

.nav_container {

	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	width: 90%;
	margin: 0 auto;
}

.logo {
	width: 150px;
	padding-left: 25px;
	font-weight: 400;
	font-size: var(--fontSmall);
	cursor: pointer;
	text-transform: lowercase;
	text-align: center;
	line-height: 70%;
}
.logo > span {
	display: block;
}

.nav-links {
	width: 55%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.nav-item {
	font-weight: 400;
	font-size: var(--fontSmall);
	cursor: pointer;
	text-transform: lowercase;
}

.icons {
	width: 60px;
	position: relative;
	height: 100%;
	display: none;
}

@media (max-width: 768px) {
	.logo {
		padding-left: 0;
		width: 100px;
	}

	.nav-links {
		flex-direction: column;
		position: absolute;
		top: 80px;
		justify-content: flex-start;
		align-items: flex-start;
		left: -110%;
		transition: 0.4s;
		padding-top: 5px;
		padding-left: 0px;
		background: #48525f;
		width: 100%;
		height: 50vh;
	}
	.nav-item {
		font-size: var(--fontMed);

		padding-left: 15px;
		padding-bottom: 5px;
		padding-top: 25px;
	}
	.nav-links.active {
		left: 0;
	}

	.icons {
		display: flex;
		align-items: center;
	}
}
