:root {
	--backgroundColor: #0f191e;
	--white: #ffff;
	--black: #fff;
	--darkBlue: #fefefe;
	--violentDark: #6366f1;
	--violentLight: #8f9af8;
	--sidebar: #bfcad0;
	--boxShadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	--boxShadow2: 0px 4px 4px rgba(99, 102, 241, 0.5);
	--maxWidth: 1280px;
	--fontLarge: 76px;
	--fontMed: 1.7rem;
	--fontSmall: 1.4rem;
	--fontMini: 1rem;

	--ff-primary: 'Big Shoulders Text', Arial, Helvetica, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body {
	box-sizing: border-box;
	font-weight: 300;
	font-family: var(--ff-primary);
	background: var(--backgroundColor);
	color: var(--darkBlue);
max-width: 1980px;
margin: 0 auto;


}

li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #fff;
}

::selection{
	background-color: #ECDDD0;
	color: var(--violentLight);
}
span::selection{
	color: var(--violentLight);

}
/* //    CUSTOM CLASSES */

.subtitle {
	text-align: center;
	position: relative;
	width: max-content;
	margin: 20px auto;
	font-size: 66px;
	text-transform: uppercase;
}

.button-primary {
	min-width: 150px;
	padding: 10px 10px;
	background: var(--violentDark);
	border: 1px solid var(--violentDark);
	color: var(--white);
	font-size: var(--fontMini);
	border-radius: 5px;
	box-shadow: var(--boxShadow);
	cursor: pointer;
	transition: background 300ms ease-in;
	text-transform: capitalize;
	-webkit-transition: background 300ms ease-in;
	-moz-transition: background 300ms ease-in;
	-ms-transition: background 300ms ease-in;
	-o-transition: background 300ms ease-in;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.button-primary:hover {
	background: transparent;
	border: 1px solid var(--white);
	color: var(--white);
	text-align: center;
}

.button-secondary {
	min-width: 130px;
	padding: 10px 10px;
	background: transparent;
	border: 1px solid var(--white);
	color: var(--white);
	font-size: var(--fontMini);
	border-radius: 5px;
	box-shadow: var(--boxShadow);
	cursor: pointer;
	transition: background 300ms ease-in;
	text-align: center;
	text-transform: capitalize;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	
}
.button-secondary:hover {
	background: var(--violentDark);
	border: 1px solid var(--violentDark);
}


.submit_btn{
	min-width: 130px;
	padding: 10px 20px;
	background: var(--violentDark);
	border: 1px solid var(--violentDark);
	color: var(--white);
	font-size: var(--fontMini);
	border-radius: 5px;
	box-shadow: var(--boxShadow);
	cursor: pointer;
	transition: background 300ms ease-in;
	text-transform: capitalize;
	-webkit-transition: background 300ms ease-in;
	-moz-transition: background 300ms ease-in;
	-ms-transition: background 300ms ease-in;
	-o-transition: background 300ms ease-in;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}
@media (max-width:600px) {
	.subtitle {
		text-align: center;
		position: relative;
		width: max-content;
		
		font-size: 36 px;
		text-transform: uppercase;
		width: 90%;
		margin-bottom: 50px;
	}

	.service>.subtitle{
		margin-bottom: 0;
	}

}